---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="关于我"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('January 30 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		我是通天野马，一个充满热情与好奇心的数字世界探险者。我的生活被编程和游戏两大元素所定义，它们不仅塑造了我的日常，也成为了我表达创造力的主要方式。
	</p>
    <p>
        作为一名站长，我沉浸在编程的海洋中，精通HTML、CSS和JavaScript，这些技术让我能够构建和设计动态网站。同时，我对C++和Java有着深厚的兴趣，它们为我打开了系统编程和跨平台应用开发的大门。尽管我的代码常常伴随着"10行代码9行报错"的幽默自嘲，但这恰恰反映了我在编程道路上的不懈探索和学习精神。每一个错误都是成长的阶梯，推动我不断优化和提升。
    </p>
	<p>
		在虚拟的方块世界中，我找到了另一个自我。Minecraft不仅是一款游戏，更是我发挥创造力和想象力的平台。在这里，我设计和建造复杂的结构，从宏伟的城堡到精巧的红石机械，每一次创作都是对逻辑思维和空间感知的挑战。游戏中的探险和资源管理也锻炼了我的问题解决能力，这些技能在编程中同样至关重要。
	</p>
	<p>
		作为站长，我管理着一些网站，这个平台是我分享编程心得、Minecraft攻略和个人项目的空间。通过网站，我连接了全球的编程爱好者和游戏玩家，交流想法，共同成长。站长角色让我学会了如何平衡技术细节与用户体验，确保网站既功能强大又易于访问。
	</p>
	<p>
		通天野马不仅仅是一个名字，它代表了我对技术的热爱和对创新的追求。未来，我计划继续深化编程技能，探索人工智能和机器学习等前沿领域，同时将Minecraft的创意元素融入网站开发，打造更加互动和个性化的在线体验。我期待与更多志同道合的人一起，在数字世界中创造无限可能。
	</p>
</Layout>
