---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>你好!我是通天野马</h1>
			<p>
				欢迎来到我的博客，我喜欢在这里发布一些文章，分享一些好用的工具等，本博客部署在Github，使用的<a href="https://astro.build/">Astro默认模版</a>。
			</p>
		</main>
		<Footer />
	</body>
</html>
